* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header img {
    width: 200px;
    margin: 0 auto;
}

header {
    position: relative;
    background-color: #0097A7;
    text-align: center;
    box-shadow: 0px 4px 4px 2px rgb(0 0 0 / 14%);
}

header .container {
    display: flex;
    align-items: center;
}

header h1 {
    color: #fff !important;
    margin: 20px 0;
    font-size: 24px;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    color: #0097A7;

}

h3 {
    font-size: 25px;
    margin: 30px 0;
}

.btn-primary,
.btnEditar,
.btnEnviar {
    background-color: #0097A7;
    border-color: #0097A7;
    text-transform: uppercase;
    margin: 10px 0;
}

.btnCancelar,
.btnExcluir {
    background-color: #e90606;
    border-color: #a70000;
    text-transform: uppercase;
    margin: 0px 10px;

}
.cadastroCurso {
    display: flex;
    flex-direction: column;
    list-style: none;

}

.addCurso, .editarCurso{
    display: none;
}

label {
    width: 120px;
    margin-top: 10px;

}

input {
    width: 400px;
}

table img {
    width: 220px;
    border: 1px solid #ccc;
}